<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <h5>&copy; 2024</h5>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Inicio</a></li>
                    <li><a href="#" class="text-white">Sobre</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contacto</h5>
                <a href="mailto:ejemplo@correo.com">Enviar Correo</a>
            </div>
        </div>
    </div>
  </footer>